body,
html {
    margin: 0;
    padding: 0;
    animation: 4s change-color infinite alternate
}

.A,
.B,
.C {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 50px;
    animation: 2s change-color infinite alternate-reverse;
}

@keyframes change-color {
    from {
        background-color: red;
    }

    25% {
        background-color: yellow;
        height: 100px;
    }

    50% {
        background-color: green;
        height: 100px
    }

    75% {
        background-color: purple !important;
        height: 100px
    }

    to {
        background: linear-gradient( 30deg,
        rgb(255, 0, 255),
        green,
        rgb(238, 255, 0)) ;
        height: 100px
    }
}

.B:hover {
    transform: rotateX(180deg) translateX(75%) skewX(50deg) scale(2);
    transition: transform ease-in 1000ms;
}

.A:hover {
    transform: rotateY(180deg) translateY(-33%) skewY(33deg) scale(-1);
    transition: transform 1s ease-out 2s;
}

.C:hover {
    transform: rotateZ(90deg) translate(75%) skew(-10deg) scale(0.5);
    transition: transform ease-in 1000ms;

}

.D {
    height: 100px;
    width: 100px;
    background-color: rgb(217, 255, 0);
    margin: 50px;
}

.D:hover {
    background-color: brown;
    transition: background-color 1000ms ease-out 500ms;
}