body,
html {
    margin: 0;
    padding: 0;    
}

.A, .B, .C {
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: 50px;
}

.B:hover {
    transform: rotateX(180deg) translateX(75%) skewX(50deg) scale(2);
    transition: transform ease-in 1000ms;
}

.A:hover {
    transform: rotateY(180deg) translateY(-33%) skewY(33deg) scale(-1);
    transition: transform ease-in 1000ms;
}

.C:hover {
    transform: rotateZ(90deg) translate(75%) skew(-10deg) scale(0.5);
    transition: transform ease-in 1000ms;
}